<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>DojoHoldem!</title>

  <link rel="stylesheet" href="stylesheets/normalize.css" />
  <link rel="stylesheet" href="stylesheets/foundation.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
  <script src="javascripts/vendor/custom.modernizr.js"></script>
  <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
  <!-- <link rel="stylesheet" type="text/css" href="stylesheets/style.css"> -->

</head>
<body>
  <div id='bg'>
    <div id="game" class="row show-for-medium-up hide-for-small">
      <div id="gameDiv" class="small-9 columns">
         <div id="players" class="row">
            <div class="small-3 columns">
               <span id='player1name'>Player 1</span>
               <br>
               <span>Chips :</span>
               <span id='player1chips'></span>
            </div>
            <div class="small-3 columns">
               <span id='player2name'>Player 2</span>
               <br>
               <span>Chips :</span>
               <span id='player2chips'></span>
            </div>
            <div class="small-3 columns">
               <span id='player3name'>Player 3</span>
               <br>
               <span>Chips :</span>
               <span id='player3chips'></span>
            </div>
            <div class="small-3 columns">
              <span id='player4name'>Player 4</span>
              <br>
              <span>Chips :</span>
              <span id='player4chips'></span>
            </div>
         </div>

         <div id="cards" class="row">
            <div id="flop" class="small-6 columns">
               <div class="row">
                  <div class="small-4 columns">
                     <p>ONE CARD</p>
                  </div>
                  <div class="small-4 columns">
                     <p>TWO CARD</p>
                  </div>
                  <div class="small-4 columns">
                     <p>THREE CARD</p>
                  </div>
               </div>
            </div>

            <div id="turn" class="small-2 columns">
               <p>TURN CARD</p>
            </div>
            <div id="river" class="small-2 columns">
               <p>RIVER CARD</p>
            </div>
            <div id="filler" class="small-2 columns"></div>
         </div>

         <div class="row">
            <div class="small-3 columns">
               <p></p>
            </div>
            <div class="small-6 columns">
               <span>Pot:</span>
               <p id="pot"></p>
            </div>
            <div class="small-3 columns">
               <p></p>
            </div>
         </div>
      </div>

      <div id="chatDiv" class="small-3 columns">
         
      </div>
    </div>
  </div>

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'javascripts/vendor/zepto' : 'javascripts/vendor/jquery') +
  '.js><\/script>')
  </script>
  <script src="javascripts/foundation.min.js"></script>
  <script type="text/javascript" src="javascripts/game.js"></script>
  <script>
    $(document).foundation();    
  </script>
</body>
</html>