body {
  background-color: green;
}

#game {
  background-color: #c2884e;
  border-radius: 5px;
  border: 2px solid black;
}

.row {
  padding: 2px;
}

.controller {
  background-color: #c2884e;
  border-radius: 5px;
  border: 2px solid black;
}

#players {
  height: 75px;
}

#cards {
  height: 200px;
}

#chatDiv {
  background-color: #c2884e;
  overflow: auto;
  height: 350px;
  width: 25%;
  padding: 10px;
  border: 8px solid #424547;
  text-align: left;
}